<div class="jumbotron">
  <h2>Welcome to Real-time Syncronization Demo</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="#/@alice" class="btn btn-default btn-block">
      Login as<br><h4>Alice</h4>
    </a>
  </div>
  <div class="col-md-4">
    <a href="#/@bob" class="btn btn-default btn-block">
      Login as<br><h4>Bob</h4>
    </a>
  </div>
  <div class="col-md-4">
    <a href="#/operator" class="btn btn-default btn-block">
      Login as<br><h4>Operator</h4>
    </a>
  </div>
</div>
